<footer class="footer">
  <div class="footer-container">

    <!-- LEFT -->
    <div class="footer-col">
      <h5>Wanderlust</h5>
      <p>Find your perfect stay anywhere in the world.</p>
    </div>

    <!-- MIDDLE -->
    <div class="footer-col">
      <h6>Company</h6>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Support</a>
    </div>

    <!-- RIGHT -->
    <div class="footer-col footer-social">
      <h6>Follow us</h6>
      <div>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 Wanderlust. All rights reserved.
  </div>
</footer>