<% layout("./layouts/boilerplate") %> 

<div class="ab-container">
        <div class="ab-page-title">
            <h1>All Listings</h1>
        </div>

        <div class="ab-cards-grid">
            <% for(let list of AllListing){ %>
            <a href="/listings/<%= list._id %>" class="ab-a"><div class="ab-card">
                <div class="ab-image-container">
                    <img src="<%= list.image.url %>"
                        alt="Beachfront Cottage">
                </div>
                <div class="ab-card-content">
                    <p class="ab-title"><%= list.title %></p>
                    <p class="ab-price"><%= list.price %>/night</p>
                </div>
            </div></a>
            <% } %>
        </div>
</div>





