<% layout("./layouts/boilerplate") %>

<div class="form-wrapper">
  <div class="form-card">
    <h2 class="form-title">Add Your Place</h2>

    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            
            <div class="form-group my-2">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="listing[title]" required>
                <div class="invalid-feedback">
                    Please enter a valid title.
                </div>
            </div>

            <div class="form-group my-2">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter description" name="listing[description]" required></textarea>
                <div class="invalid-feedback">
                    Please enter a valid description.
                </div>
            </div>
            <div class="form-group">
                <label>Upload Image</label>

                <div class="custom-upload">
                    <input type="file" id="image" name="listing[image][url]" class="form-control" required>
                    <span>📁 Choose Image</span>
                    <div class="invalid-feedback">Please upload an image.</div>
                </div>
            </div>
            <!-- <label class="form-lable">Upload Image</label>
            <input type="file" class="form-control"  name="listing[image][url]" required>
            <div class="invalid-feedback">
                Please Choose a valid image.
            </div> -->

            <div class="row">
                <div class="form-group col my-2">
                    <label>Price</label>
                    <div class="input-group">
                        <div class="input-group-text">&#8377;</div>
                        <input type="number" class="form-control" placeholder="Enter Price" name="listing[price]" required>
                        <div class="invalid-feedback">
                            Please enter a valid price.
                        </div>
                    </div>
                </div>

                <div class="form-group col my-2">
                    <label>Country</label>
                    <input type="text" class="form-control" placeholder="Enter country" name="listing[country]" required>
                    <div class="invalid-feedback">
                        Please enter a valid country.
                    </div>
                </div>
            </div>

            <div class="form-group my-2">
                <label>Location</label>
                <input type="text" class="form-control" placeholder="Enter location" name="listing[location]" required>
                <div class="invalid-feedback">
                    Please enter a valid location.
                </div>
            </div>
            <button type="submit" class="modern-btn">
                Add New Listing
            </button>

        </form>
  </div>
</div>